#pricing {
  display: flex;
  flex-direction: column;
  padding-block: 4rem;
  gap: 3rem;
}

#pricing header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}

#pricing header :first-child {
  color: var(--primary-color);
  font-weight: var(--fw-bold);
}

#pricing .even-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  justify-items: center;
}

#pricing .pricing-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 100%;
  max-width: 320px;
  min-height: 520px;

  padding: 1.5rem;
  background-color: var(--light-gray);

  border-radius: 1.5rem;
  box-shadow: rgba(58, 68, 78, 0.2) 0px 12px 24px;
}

#pricing .hr {
  height: 1.5px;
  background-color: var(--primary-color);
  margin-block: 0.725rem;
}

#pricing .features {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#pricing .plan {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#pricing .premium {
  border: 0.2rem solid var(--primary-color);
  padding-top: 0;
}

#pricing .premium .plan > h3 {
  color: var(--primary-color);
}

#pricing .bonus {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);

  width: 70%;
  height: 2.5rem;

  align-self: center;

  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

#pricing .bonus p {
  font-size: 12px;
  font-weight: var(--fw-md);
  color: var(--light-text-color);
}

#pricing .price {
  display: flex;
  align-items: flex-end;
}

#pricing .price p {
  margin-left: 8px;
  padding-bottom: 4px;
}

#pricing button {
  margin-top: auto;
}

@media (max-width: 1024px) {
  #pricing .even-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  #pricing .even-columns {
    grid-template-columns: 1fr;
  }

  #pricing .pricing-card {
    max-width: 400px;
  }
}

@media (width >= 1280px) {
  #pricing {
    gap: 5rem;
    padding-block: 5rem;
  }

  #pricing h3 {
    font-size: 1.25rem;
  }

  #pricing .pricing-card {
    max-width: 340px;
    min-height: 560px;
  }
}
